*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
}
html {
	font-size: 16px; /* по умолчанию */
}
body {
	font-family: "Roboto";
	line-height: 1.25;
	font-size: 18px;
	color: rgb(65, 65, 65);
	background: url('../img/men.jpg') 50%/cover no-repeat fixed;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
}
